
obj/Debug/netcoreapp1.1/GenericController.csproj.FileListAbsolute.txt
bin/Debug/netcoreapp1.1/GenericController.db
bin/Debug/netcoreapp1.1/GenericController.deps.json
*.pdb
*.dll
bin/Debug/netcoreapp1.1/GenericController.runtimeconfig.dev.json
bin/Debug/netcoreapp1.1/GenericController.runtimeconfig.json
*.cache
obj/Debug/netcoreapp1.1/GenericController.AssemblyInfo.cs
obj/Debug/netcoreapp1.1/GenericVC.AssemblyInfo.cs
obj/project.assets.json
obj/GenericVC.csproj.nuget.g.targets
obj/GenericVC.csproj.nuget.g.props
obj/GenericController.csproj.nuget.g.targets
obj/GenericController.csproj.nuget.g.props
